# macOS
.DS_Store

# Node / Angular
node_modules/
dist/
.angular/
coverage/
npm-debug.log*

# .NET
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs e editor
*.log
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
